*{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
#mapContainer::-webkit-scrollbar, #tableContainer::-webkit-scrollbar{
    display: visible;
}
html{
    background-image: url('img/bg-2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

}
form#wineForm{
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
        
}
.commonStyle, #exportJSON{
    background-color: #718c4ac3;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: rgb(242, 244, 246);
    text-align: center;
}
.commonStyle:hover,  #exportJSON:hover{
    background-color: #718c4a70;
    color: rgba(234, 238, 242, 0.928);
    border-radius: 15px;
}
.commonStyle::placeholder{
    color: rgba(234, 238, 242, 0.707);;
}
form#wineForm h1{
    font-size: larger;
    color:rgba(234, 238, 242, 0.928);
}
textarea,
form#wineForm input[type="text"],
form#wineForm input[type="number"],
form#wineForm input[type="url"]{
    height: 2em;
    line-height: 2em;
    font-size: medium;
    margin-top: 0.5em;
    width: 48%;
    padding: 0.35em 0.2em 0.35em;
}
textarea:focus,
form#wineForm input[type="text"]:focus,
form#wineForm input[type="number"]:focus,
form#wineForm input[type="url"]:focus{
    background-color: #718c4a70;
    color: rgb(242, 244, 246);
    border-radius: 15px;    
}
form#wineForm input[type="number"]{
    width: 97%;
    margin-bottom: 1em;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label{
    display: inline-block;
    padding: 0.35em 0.1em 0.35em;
    height: 2em;
    line-height: 2em;
    vertical-align: auto;
    overflow: hidden;
    width: 31.5%;
    margin-bottom: 0.25em;
}
input[type="radio"]:checked + label{
    background-color: #8c08089c;
    color: rgba(222, 227, 232, 0.886);
    font-weight: bold;
}
input[type="radio"]:checked + label:hover{
    background-color: #8c0808f3;
}
input[value="true"] + label,
input[value="false"] + label{
    width: 48%;
}
input[name="glass"] + label{
    width: 18.38%;
}
textarea[name="sommNotes"]{
    width: 97.5%;
    min-height: 5em;
}
input[type="url"]{
    min-width: 97.5%;
}
form input[type="url"] + img{
    max-height:200px; 
    display:none;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    transition-delay: 0.4s;
    transition-duration: 0.55s;
}
form input[type="url"] + img:hover{
    max-height: 600px;
    border-radius: 10px;
}
form button{
    width: 48%;
    height: 40px;
    line-height: 40px
}
.img-parent img{
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    transition-delay: 0.4s;
    transition-duration: 0.55s;
}
#tableContainer{
    overflow-x: scroll;
}
#tableContainer td.img-parent{
    text-align: center;
}
#tableContainer td.img-parent:hover > img{
    height: 250px;
}
#tableContainer table, td, th{
    border-collapse: collapse;
    padding: 2px;
    border: none;
    text-align: center;
}
#tableContainer table{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(51deg,#73695684, #261c14ac);
}
#tableContainer th{
    padding: 1em;
    color: aliceblue;
}
#tableContainer tr:has(th){
    position: sticky;
    top: 0px;
    background-image: linear-gradient(51deg,#736956a5, #261c14d5);
}
#tableContainer td .commonStyle{
    font-size: x-small;
    height: 6em;
}
#tableContainer td select.commonStyle{
    width: 95%;
}
#tableContainer td input[type="url"].commonStyle{
    height: 1.5em;
}
/*
accessibility setting. JS controls need to be implemented
td input:focus{
    transition-delay: 0.7;
    transition-duration: 0.9s;
    font-size: x-large;
    overflow: visible;
    padding: 2px;
    height: 3em;
    width: 30em;
}
*/
.uploadJSON{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: aliceblue;
    background-image: linear-gradient(51deg,#73695684, #261c14ac);
    width: fit-content;
    padding: 1em;
    margin-top: 1em;
}

#exportJSON, #wineDropDownSelection, #confirmAllocationBtn{
    padding: 1em;
    font-size: larger;
    text-align: center;
    width: 91vw;
    margin-left: 4vw;
    margin-top: 0.5em;
}
#exportJSON{
    position: sticky;
    top: 5px;
}
form #imagePreview, #mapContainer{
    background-image: linear-gradient(51deg,#73695684, #261c14ac);
}
#mapContainer{
    margin-top: 2em;
    overflow-x: scroll;
    min-width: 91vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    color: antiquewhite;
}
#mapContainer div, #mapContainer table{
    display: table-cell;
}
#mapContainer td{
    border: solid rgb(0, 0, 0) 1px;
    min-width: 3vh;
    height: 3vh;
    padding: 0;
}
.gap table{
    background: rgba(0, 0, 0, 0.966);
}
.gap td{
    font-size: x-small;
}

.miniMapLegend{
    text-align: center;
    vertical-align: middle;
    min-width: 15em;
}
