{% extends "base.html" %}
{% block title %} 💼 Admin panel {% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wineadmin/css/admin-panel.css' %}">
    <div class="admin-nav">
        <a href="{% url 'new_wine' %}" class="commonStyle commonStyleAsBlock toggleWrapper">New Wine Form</a>
        <a href="{% url 'table_of_wines' %}" class="commonStyle commonStyleAsBlock toggleWrapper">Table of Wines</a>
        <a href="{% url 'cellar_map_editable' %}" class="commonStyle commonStyleAsBlock toggleWrapper">Wine Cellar Map</a>
        <a href="{% url 'dbms_tools' %}" class="commonStyle commonStyleAsBlock toggleWrapper" title="Mido, stop laughing! DBMS means ''Database Management System'', I promie!">
            DBMS Miscellaneous Tools</a>
    </div>

{% endblock %}
