{% extends 'base.html' %}
{% block title %} Cellar Map Editor {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'wineadmin/css/cellar-map-editable.css' %}">
<link rel="stylesheet" href="{% static 'wineadmin/css/cell-tooltip.css' %}" id="cell-tooltip-styles">
<!-- This code comes from my FYP prototype that is no longer in use -->
<!-- https://github.com/PawelKrezel/WineFinder/blob/v1-partially-vibe-coded-with-GPT/index.html -->

<form method="POST" action="{% url 'allocate_wine_slots' %}">
    {% csrf_token %}

    <!-- Map controls -->
    <div id="editable-map-controls">
        <select name="wine_id" id="wine-selector" class="commonStyle commonStyleAsBlock" required>
            <option value=""> -- Select Wine -- </option>
            <option value="empty-slots"> -- Empty Selected Slots -- </option>
            {% for wine in wines %}
                <option value="{{ wine.id }}">
                    {{ wine.vintage }}  --- {{wine.wine_name}} {{wine.grape}} {{wine.country_of_origin}}
                </option>
            {% endfor %}
        </select>

        <button class="commonStyle commonStyleAsBlock" type="submit">Save slot allocation</button>

        <div title="enable/disable cell look up">
            <span id="cell-tooltip-control-label">cell lookup (enabled)</span>
            {% include "toggle-switch.html" with id="cell-tooltip-toggle" jsFunction="toggleCellToolTip()" checkStatus="checked" %}
        </div>
    </div>

    <!-- Mini map of the wine cellar -->
    {% include "cellar-map-base.html" %}
</form>

<script>
    var slotMap = {{ slot_map|safe }};
    var readOnlyMap = false;
</script>
<script src="{% static 'wineadmin/js/cellar-map-editable.js' %}"></script>
<p>&nbsp;</p>
{% endblock %}