{% load static %}
<link rel="stylesheet" href="{% static 'wineadmin/css/new-wine-form.css' %}">

<!-- Form for adding new wine to the DB -->
<form id="new-wine-form" method="POST" enctype="multipart/form-data" action="{% url 'add_new_wine' %}" autocomplete="off">
    {% csrf_token %}
    <h1>Add a new wine to the DB  <i class="fa-solid fa-database fa-md"></i></h1>

    <!-- Basic information about wine -->
    <!-- Name and Grape verity -->
    <div class="dsp-grid row-2-entities">
        <div class="dsp-grid row-1-entity">
            <label for="id_wine_name">&nbsp; Name 🏷️</label>
            {{ form_new_wine.wine_name }}
        </div>

        <div class="dsp-grid row-1-entity">
            <label for="id_wine_name">&nbsp; Grape 🍇</label>
            {{ form_new_wine.grape }}
        </div>      
    </div>

    <!-- Region, country and vintage -->
    <div class="dsp-grid row-3-entities">
        <div class="dsp-grid row-1-entity">
            {{ form_new_wine.region }}
            <label for="id_region">&nbsp; Region 📌</label>
        </div>
        
        <div class="dsp-grid row-1-entity">
            {{ form_new_wine.country_of_origin }}
            <label for="id_country_of_origin">&nbsp; Country 🗺️</label>
        </div>
        
        <div class="dsp-grid row-1-entity">
            {{ form_new_wine.vintage }}
            <label for="id_vintage">&nbsp; Vintage 🗓️</label>
        </div>
        
    </div>
    <br>
    
    <!-- WSET level 2 details about wine -->
    <!-- Wine Body -->
    <div class="dsp-grid row-3-entities">
        <input type="radio" name="body" value="light-body" id="light-body">
        <label for="light-body" class="commonStyle commonStyleAsBlock">Light Body</label>

        <input type="radio" name="body" value="medium-body" id="medium-body">
        <label for="medium-body" class="commonStyle commonStyleAsBlock">Medium Body</label>

        <input type="radio" name="body" value="full-body" id="full-body">
        <label for="full-body" class="commonStyle commonStyleAsBlock">Full Body</label>
    </div>

    <!-- Wine Tannins -->
    <div class="dsp-grid row-3-entities">
        <input type="radio" name="tannin" value="light-tannin" id="light-tannin" required>
        <label for="light-tannin" class="commonStyle commonStyleAsBlock">Light Tannin</label>

        <input type="radio" name="tannin" value="medium-tannin" id="medium-tannin">
        <label for="medium-tannin" class="commonStyle commonStyleAsBlock">Medium Tannin</label>

        <input type="radio" name="tannin" value="full-tannin" id="full-tannin">
        <label for="full-tannin" class="commonStyle commonStyleAsBlock">Full Tannin</label>
    </div>

    <!-- Wine Acidity -->
    <div class="dsp-grid row-3-entities">
        <input type="radio" name="acidity" value="light-acidity" id="light-acidity" required>
        <label for="light-acidity" class="commonStyle commonStyleAsBlock">Light Acidity</label>

        <input type="radio" name="acidity" value="medium-acidity" id="medium-acidity">
        <label for="medium-acidity" class="commonStyle commonStyleAsBlock">Medium Acidity</label>

        <input type="radio" name="acidity" value="full-acidity" id="full-acidity">
        <label for="full-acidity" class="commonStyle commonStyleAsBlock">Full Acidity</label>
    </div>
    <br>

    <!-- How to serve the wine-->
    <!-- Wine Glass -->
    <div class="dsp-grid row-5-entities">
        <input type="radio" name="glass" value="Tst" id="Tst">
        <label for="Tst" class="commonStyle commonStyleAsBlock">Tasting Gls</label>

        <input type="radio" name="glass" value="Flute" id="Flute">
        <label for="Flute" class="commonStyle commonStyleAsBlock">Flute</label>

        <input type="radio" name="glass" value="Burgundy" id="Burgundy">
        <label for="Burgundy" class="commonStyle commonStyleAsBlock">Burgundy Gls</label>

        <input type="radio" name="glass" value="Bordeaux" id="Bordeaux">
        <label for="Bordeaux" class="commonStyle commonStyleAsBlock">Bordeaux Gls</label>

        <input type="radio" name="glass" value="Standard" id="Standard" checked>
        <label for="Standard" class="commonStyle commonStyleAsBlock">Standard Gls</label>        
    </div>

    <!-- Coravin -->
    <div class="dsp-grid row-2-entities">
        <input type="radio" name="coravin" value="Yes" id="coravin-yes">
        <label for="coravin-yes" class="commonStyle commonStyleAsBlock">needs to be coravined</label>

        <input type="radio" name="coravin" value="No" id="coravin-no" checked>
        <label for="coravin-no" class="commonStyle commonStyleAsBlock">no need to coravin</label>
    </div>

    <!-- Availability by the glass -->
    <div class="dsp-grid row-2-entities">
        <input type="radio" name="btlOnly" value="Yes" id="btlOnly-yes">
        <label for="btlOnly-yes" class="commonStyle commonStyleAsBlock">only by the bottle</label>

        <input type="radio" name="btlOnly" value="No" id="btlOnly-no" checked>
        <label for="btlOnly-no" class="commonStyle commonStyleAsBlock">available by the glass/carafe</label>
    </div>
    <br>

    <!-- Optional Extra Information  -->
    <div class="dsp-grid row-1-entity">
        <textarea 
        name="sommNotes" 
        class="commonStyle commonStyleAsBlock" 
        placeholder="Optional sommelier notes. Feel free to throw in any fun facts or additional info that you think the team should know about this wine"></textarea>
    </div>
    
    <br>

    <!-- MISC -->
    <div class="dsp-grid row-2-entities">
        <label for="id_image" class="commonStyle commonStyleAsBlock">
            <span id="new-wine-form-image-upload-label">📷 Upload bottle image</span>
            <span id="new-wine-form-image-preview"></span>
            <span id="new-wine-form-image-file-name"></span>
        </label>

        <button type="submit" class="commonStyle commonStyleAsBlock">Save Wine ✅</button>
        
        <!-- service elements for image upload that ruin my UI -->
        <section style="display: none;">
            <input type="file" name="image" accept="image/*" id="id_image">
            <script>
                document.getElementById("id_image").addEventListener("change", function() {
                    const file = this.files[0];

                    document.getElementById("new-wine-form-image-upload-label").textContent = "📸 Uploaded bottle image: ";
                    document.getElementById("new-wine-form-image-file-name").textContent = file ? file.name : "";

                    if(file){
                        const reader = new FileReader();
                        reader.onload = function(e){
                            document.getElementById("new-wine-form-image-preview").innerHTML = '<img src="' + e.target.result + '" style="max-height:1em;">';
                        };
                        reader.readAsDataURL(file);
                    }
            });
            </script>
        </section>

    </div>

</form>