{% extends "base.html" %}
{% block title %} ⚙️ Work in progress! 🔨{% endblock %}

{% block content %}
<center>
    <h1>Hello World!</h1>
    <p>Implementation of v2 is in progress...</p>
    <h1>⚙️🔨</h1>
    
    <a href="https://pawelkrezel.github.io/WineFinder/"><button class="commonStyle commonStyleAsBlock">Please see this prototype in the meantime</button></a>
    <a href="{% url 'wineadmin' %}"><button class="commonStyle commonStyleAsBlock">Or, see this basic backend (authentication required)</button></a>
    <a href="{% url 'search' %}"><button class="commonStyle commonStyleAsBlock">search bar [in development]</button></a>
    
</center>

{% endblock %}
