#mapContainer{
    margin-top: 2em;
    width: 90%;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    color: antiquewhite;
    background-image: linear-gradient(51deg,#73695684, #261c14ac);
}
#mapContainer > div,
#mapContainer table{
    display: table-cell;
}
#mapContainer td{
    border: solid rgb(0, 0, 0) 1px;
    min-width: 3vh;
    height: 3vh;
    line-height: 3vh;
    padding: 0;
    text-align: center;
}
.gap table{
    background: rgba(0, 0, 0, 0.966);
}
.gap td{
    font-size: x-small;
}

.miniMapLegend{
    text-align: center;
    vertical-align: middle;
    min-width: 15em;
}
.cellar-map-input{
    display:none;
}

.shelfSlot label{
    cursor:pointer;
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
}

#editable-map-controls{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.cellar-map-label{
    position: relative;
}

.shelfSlot{
    position: relative;
    overflow: visible;
}

.cellar-map-tooltip{
    display:none;
}