/* style for the tooltip which previews which wine is located in cell */
.shelfSlot:hover .cellar-map-tooltip{
    display: block;
    position:absolute;
    left:530%;
    transform:translateX(-50%);
    background:#261c14f0;
    padding:0.5em;
    border:1px solid black;
    border-radius:6px;
    width:200px;
    z-index:999;
    font-size:small;
}
/* position will change depending on how high/low the tooltip is in the cellar map */
.tooltip-up{
    bottom:-15%;
}
.tooltip-down{
    top:-15%;
}
.cellar-map-tooltip-img{
    width: 80%;
    margin-top: 0.3em;
    margin-left: auto;
    margin-right: auto;
}