.row-editable-wine-table:has(div:hover){
    overflow: visible;
    z-index: 0;
}
html:has(#editable-wine-table-name:hover) .editable-wine-table-name,
.row-editable-wine-table div:hover *{
    position: relative;
    z-index: 2;
}
html:has(#editable-wine-table-name:hover) .editable-wine-table-name,
.row-editable-wine-table div:hover input[type="text"],
.row-editable-wine-table div:hover input[type="number"],
.row-editable-wine-table div:hover textarea{
    width: 25vw;
    right: 3vw;
    font-size: large;
    background-color: #718c4a;
}
.row-editable-wine-table div:hover select{
    font-size: large;
    width: fit-content;
    background-color: #718c4a
}
.row-editable-wine-table div:hover textarea{
    min-height: 6em;
    font-size: medium;
    line-height: normal;
}
.row-editable-wine-table div:hover img{
    width: 35vw;
    height: auto;
    right: 35vw;
    bottom: 20vw;
}
.row-editable-wine-table div:hover:has(img){
    transition-duration: 0.6s;
    background-color: #8c0808f3;
    height: 3em;
}