{% extends 'base.html' %}

{% block title %} 🪪 Login - Wine Admin - Hawksmoor KB {% endblock %}

{% block content %}


<form method="POST" class="commonGradientBackground">
    <h1>login</h1>
    {% csrf_token %}

    <div class="dsp-grid row-1-entity">
        <div class="dsp-grid row-1-entity">
            <label for="id_username">&nbsp; username 👤 </label>
            {{ form.username }}
        </div>

        <div class="dsp-grid row-1-entity">
            <label for="id_password">&nbsp; password 🔑 </label>
            {{ form.password }} 
        </div>
        
        <div class="dsp-grid row-2-entities">
            <button type="reset" class="commonStyle commonStyleAsBlock">Clear</button>
            <button type="submit" class="commonStyle commonStyleAsBlock">Login</button>
        </div>
    </div>
</form>

{% load static %}
<link rel="stylesheet" href="{% static 'wineadmin/css/login.css' %}">
<script src="{% static 'wineadmin/js/login_helper_script.js' %}"></script>
{% endblock %}