{% extends "base.html" %}

{% block title %} Wine details for {{ wine }} {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'wineadmin/css/cellar-map-editable.css' %}">
<link rel="stylesheet" href="{% static 'wineadmin/css/details.css' %}">

<div class="details-main-container">

    {% if user.is_authenticated %}
        {% if created %}
        <div class="row row-1">
            <div class="detail success">
                <label for="success_message">Success Message</label>
                <span id="success_message">
                    <h1>Wine has been successfully added!</h1>
                    <p>Go through details below to double check everything</p>
                </span>
            </div>
        </div>
        {% endif %}
    {% endif %}

    <div class="row row-1">
        <div class="detail">
            <label for="name">Name</label>
            <span id="name"><h1>"{{ wine.wine_name }}"</h1></span>

            {% if user.is_authenticated %}
            <a href="{% url 'admin:wineadmin_wine_change' wine.id %}" target="_blank">
                <div class="admin-redirect" title="redirect me to the django admin page for {{ wine }}">
                    <i class="fa-solid fa-square-arrow-up-right"></i><br>
                    <span>Quick edit</span>
                </div>
            </a>
            {% endif %}

        </div>
    </div>

    {% if wine.imageURL %} 
        <img src="{{ wine.imageURL }}" alt="Image of {{ wine }} was not loaded correctly. Womp womp!">
    {% endif %}
    <div class="details">
        <div class="row row-2">
            <div class="detail">
                <label for="grape">Grape</label>
                <span id="grape">{{ wine.grape }}</span>
            </div>

            <div class="detail">
                <label for="colour">Colour</label>
                <span id="colour">{{ wine.colour }}</span>
            </div>
        </div>
        
        <div class="row row-2">
            <div class="detail">
                <label for="region">Region</label>
                <span id="region">{{ wine.region }}</span>
            </div>

            <div class="detail">
                <label for="country_of_origin">Country</label>
                <span id="country_of_origin">{{ wine.country_of_origin }}</span>
            </div>
        </div>

        <div class="row row-1">
            <div class="detail">
                <label for="vintage">Vintage</label>
                <span id="vintage">{{ wine.vintage }}</span>
            </div>
        </div>

        <div class="row row-3">
            <div class="detail">
                <label for="body">Body</label>
                <span id="body">{{ wine.get_body_display }}</span>
            </div>
            

            <div class="detail">
                <label for="tannin">Tannin</label>
                <span id="tannin">{{ wine.get_tannin_display }}</span>
            </div>

            <div class="detail">
                <label for="acidity">Acidity</label>
                <span id="acidity">{{ wine.get_acidity_display }}</span>
            </div>
        </div>

        <div class="row row-1">
            <div class="detail">
                <label for="btl_only">Availability</label>
                <span id="btl_only">{{ wine.get_btl_only_display }}</span>
            </div>
        </div>

        <div class="row row-2">
            <div class="detail">
                <label for="glass">Serve in</label>
                <span id="glass">{{ wine.get_glass_display }}</span>
            </div>
        

            <div class="detail">
                <label for="coravin">Coravin</label>
                <span id="coravin">{{ wine.get_coravin_display }}</span>
            </div>
        </div>

        {% if wine.sommNotes %}
        <div class="row row-1">
            <div class="detail">
                <label for="sommNotes">Extra Notes</label>
                <span id="sommNotes">{{ wine.sommNotes }}</span>
            </div>
        </div>
        {% endif %}

        {% if has_slots %}
        <div class="row row-1">
            <div class="detail">
                <label>Location in the Wine Cellar</label>
                    <div class="map-scroll-wrapper">{% include "cellar-map-base.html" %}</div>
                    <script>
                        var slotMap = {{ slot_map|safe }};
                        var readOnlyMap = true;
                    </script>
                    <script src="{% static 'wineadmin/js/cellar-map-editable.js' %}"></script>
            </div>
        </div>
        {% endif %}
    
        {% if user.is_authenticated %}
        <div class="row row-3">
            <a href="{% url 'new_wine' %}" class="commonStyle commonStyleAsBlock toggleWrapper">Add Another Wine</a>
            <a href="{% url 'table_of_wines' %}#wine-{{ wine.id }}" class="commonStyle commonStyleAsBlock toggleWrapper">Edit Wines</a>
            <a href="{% url 'allocate_wine_slots' %}" class="commonStyle commonStyleAsBlock toggleWrapper">Cellar Map Editor</a>
        </div>
        {% endif %}         
    <button onclick="history.back()" class="commonStyle commonStyleAsBlock row row-1">
        Go Back
    </button>

    </div>
</div>
{% endblock %}
