{% extends "base.html" %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'wineadmin/css/search.css' %}">

<section id="main-container">
    <h2>Search</h2>

    <form method="GET">
        <input type="text" name="query" placeholder="Search wine, grape, region..." value="{{ query|default:'' }}" class="commonStyle commonStyleAsBlock">
        <button type="submit" class="commonStyle commonStyleAsBlock big-screen">Search</button>
        <button type="submit" class="commonStyle commonStyleAsBlock small-screen">🔎</button>
    </form>

    <hr>
    {% for wine in wines %}
        <a href="{% url 'wine_detail' wine.id %}">
            <div class="searchResultCard">
                <h3>{{ wine.wine_name }} <span class="secondaryDetails">({{ wine.vintage }})</span></h3>
                <span class="mainDetails">{{ wine.grape }} from {{wine.region}} - {{wine.country_of_origin}}</span><br>
                <span class="secondaryDetails">{{ wine.body }} | {{ wine.tannin }} | {{ wine.acidity }}</span>
            </div>
        </a>

    {% empty %}
        <p>No wines found.</p>
    {% endfor %}
</section>



{% endblock %}