{% extends "base.html" %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'wineadmin/css/search.css' %}">

<section id="main-container">
    {% if user.is_authenticated %}
        <h2>Search</h2>
    {% else %}
        <a href="{% url 'login' %}">
            <h2>Search the wine list</h2>
        </a>
    {% endif %}

    <form method="GET">
        <input type="text" name="query" placeholder="Search wine, grape, region..." value="{{ query|default:'' }}" class="commonStyle commonStyleAsBlock">
        <button type="submit" class="commonStyle commonStyleAsBlock big-screen">Search</button>
        <button type="submit" class="commonStyle commonStyleAsBlock small-screen">🔎</button>
    </form>

    <hr>
    {% for wine in wines %}
        <a href="{% url 'wine_detail' wine.id %}">
            <div class="searchResultCard colourTag {{ wine.colour }}">
                <div class="text-details">
                <h3>{{ wine.wine_name }} <span class="secondaryDetails">({{ wine.vintage }})</span></h3>
                    <span class="mainDetails">
                        <span title="grape variety">{{ wine.grape }}</span>
                        <span class="from">from</span> 
                        <span title="region">{{wine.region}}</span> 
                        <span title="country"> - {{wine.country_of_origin}}</span>
                    </span><br>
                    <span class="secondaryDetails">
                        <span class="{{ wine.body }}"> {{ wine.body }} </span>
                        <span class="{{ wine.tannin }}"> {{ wine.tannin }} </span>
                        <span class="{{ wine.acidity }}"> {{ wine.acidity }} </span>
                    </span>
                </div>

                <div class="tags">
                    {% if wine.has_notes %}
                        <span class="tag" title="Sommelier's Notes are available for {{ wine }}">
                            <i class="fa-regular fa-comment-dots"></i>
                        </span>
                    {% endif %}

                    {% if wine.has_image %}
                        <span class="tag" title="Image has been uploaded for the bottle of {{ wine }}">
                            <i class="fa-regular fa-camera"></i>
                        </span>
                    {% endif %}

                    {% if wine.slot_count > 0 %}
                        <span class="tag" title="{{ wine }} has been mapped out in the digital map of the wine cellar">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </span>
                    {% endif %}
                </div>
            </div>
        </a>

    {% empty %}
        <p>No results found for "{{query}}"</p>
    {% endfor %}
</section>

{% endblock %}